<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='restaurant.css') }}">
</head>
<body>
    <div class="mainWrap">
        <div class="titleWrap">
            <div class="title">Menu 판</div>
        </div>
        <div class="cardWrap">
            <div class="cardBox">
                <div class="card"></div>
            </div>
            <div class="cardBox">
                <div class="card"></div>
            </div>
            <div class="cardBox">
                <div class="card"></div>
            </div>
        </div>
        <div class="inputWrpa">
            <input type="text">
            <button> 선택 </button>
            
        </div>
    </div>
    
</body>
</html>